<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!--link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"-->
    </head>

    <body>

        <header class="header">
            <div class="header-logo">
                <p id="logo-text">NLP using Aylien</p>
            </div>
            <div class="header-nav">
                <a class="nav-links" href="#form-input">Form-Input</a>
                <a class="nav-links" href="#form-result">Form-Results</a>
            </div>
        </header>

        <main class="content">
            <section class="form-content" id="form-input">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="return Client.onBlur()" placeholder="Enter text or URL of the article to be analysed">
                    <input id="btn-submit" type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section class="form-content" id="form-result">
                <div id="result-head"><strong>Form Results:</strong></div>
                <div id="results"></div>
            </section>
        </main>

        <footer class="footer">
            <p id="footer-text">This webpage uses Aylien API</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
