$font-stack: Arial, Helvetica, sans-serif;
$body-background-color: #CBB3BF;
$light-blue: #8DA1B9;
$light-green: #95ADB6;
$light-skin: #DBC7BE;
$dark-rose: #EF959C;

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $body-background-color;
    padding: 20px 20px;
    font-size: 1.1em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 40px;
    background-color: $light-green;
    color: $dark-rose;

    section {
        padding: 10px;
    }
}

#form-result {
    background-color: $light-skin;
    color: $dark-rose;

    #results {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px 10px;
        font-size: 1em;
    }
}




