$font-stack: Arial, Helvetica, sans-serif;
$body-background-color: #CBB3BF;
$light-blue: #8DA1B9;
$dark-blue: rgb(85, 134, 194);
$light-green: #95ADB6;
$light-skin: #DBC7BE;
$dark-rose: #EF959C;

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

#btn-submit {
    border: 2px solid $dark-blue;
    background-color: $light-blue;
    font-weight: normal;
    width: 20%;
    align-items: center;
    &:hover {
        font-weight: bold;
    }

}
